/*the * meaning style everything*/

* {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}

body {
	background-color: #eee;
}

/*nav {
	width: 100%;
	background-color: #1b1b1b;
	position: relative;

}

ul {
	margin-left: 60px;
}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 80px;


}

ul li a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	color: white;
	padding: 0 20px;
}

ul li a:hover {
	color: red;

}*/

nav {
	background-color: #1b1b1b;
}

nav:after {
	content: '';
	clear: both;
	display: table;
}

nav .logo {
	float: left;
	color: white;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;

}

nav ul {
	float: left;
	list-style: none;
	margin-left:40px;
	position: relative;
}

nav ul li {
	float: left;
	display: inline-block;
	background: #1b1b1b;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;
}

nav ul li a:hover {
	color: cyan;
	border-radius: 5px;
/*	box-shadow: 0 0 5px #33ffff,
				0 0 5px #66ffff;*/
}

input {
	display: none;
}

.icon {
	display: none;
}


@media all and (max-width: 968px) {

	nav ul {
		margin-right: 0px;
		float: left;
	}

	nav .logo {
		padding-left: 30px;
		width: 100%;
	}

	nav ul li {
		display: block;
		width: 100%;
	}

	.icon {
		display: block;
		color: white;
		position: absolute;
		right: 40px;
		top: 22px;
		font-size: 25px;
		cursor: pointer;
	}

	ul {
		display: none;
	}

	#check:checked ~ ul {
		display: block;
	}


}

